:root {
	--container-padding: 8px;
	--active-color: #29d0bc;
	--active-background: #ebfffd;
	--checkbox-size: 30px;
	--content-width: 300px;
	--monospace-font: 'Consolas', 'Andale Mono', monospace;
	--textarea-font-size: 1em;
	--textarea-background: #353535;
	--textarea-color: #f2f2f2;
	--checkbox-border: 1px solid #cacece;
	--checkbox-check-color: #36c636;
}

body {
	padding: var(--container-padding);
}

#checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: var(--container-padding);
}

.checkbox {
	-webkit-appearance: none;
	border: var(--checkbox-border);
	min-width: 30px;
	min-height: 30px;
	padding: 2px;
	border-radius: 3px;
	margin-right: 0.5rem;
}

.checkbox:focus {
	outline: 0;
}

.checkbox:checked {
	background-color: var(--active-background);
}

.checkbox:checked:after {
	content: '\f00c';
	font-family: FontAwesome;
	font-size: 24px;
	color: var(--active-color);
}

label {
	font-size: 0.9rem;
}

textarea {
	height: 100px;
	resize: none;
	min-width: var(--content-width);
	max-width: var(--content-width);
	font-family: var(--monospace-font);
	font-size: var(--textarea-font-size);
	background-color: var(--textarea-background);
	color: var(--textarea-color);
	margin: 4px 0;
}

textarea:last-of-type {
	margin-bottom: 0;
}
