:root {
  --container-padding: 8px;
  --section-spacing: 8px;
  --section-padding: 4px;
  --border: 1px solid #cacece;
  --border-radius: 3px;
  --text-color: #2e2e2e;
  --active-color: #29d0bc;
  --hover-color: #18aa99;
  --active-background: #ebfffd;
  --content-width: 300px;
  --checkbox-size: 30px;
  --textarea-font-size: 1em;
  --textarea-background: #353535;
  --textarea-color: #f2f2f2;
  --focus-outline: 1px solid #1eeed6;
  --monospace-font: 'Consolas', 'Andale Mono', monospace;
}

@import './checkbox.css';
@import './property-list.css';

body {
  padding: var(--container-padding);
}

*:focus {
  outline: var(--focus-outline);
}

.input-container {
  margin-bottom: var(--section-spacing);
}

.button-container {
  text-align: right;
}

label {
  font-size: 0.85rem;
}

textarea {
  min-height: 4rem;
  resize: none;
  border-radius: var(--border-radius);
  padding: 6px;
  min-width: var(--content-width);
  font-family: var(--monospace-font);
  font-size: var(--textarea-font-size);
  background-color: var(--textarea-background);
  color: var(--textarea-color);
  margin-top: 2px;
}

button {
  font-size: 0.8rem;
  border: none;
  color: var(--active-color);
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: var(--hover-color);
}
